/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px; /* Adjust the width of the logo as needed */
    margin-right: auto;
}

.title {
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    transition: transform 0.2s ease;
}

nav ul li a:hover {
    transform: translateY(-5px);
}

input[type="text"].special:hover,
textarea.special:hover {
    transition: transform 0.2s ease;
    transform: translateY(-5px);
}

main {
    padding: 20px;
}

.featured {
    margin-bottom: 20px;
}

.special {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.special h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

html {
    scroll-behavior: smooth;
}